 #container, #container2, #container3{
  width: 100%;
  height: 700px;
  margin: 0;
  padding: 0;
}

.anychart-credits{
  display: none;
}

.modal{
  top: -100px;
  transition: top .5s;
  background: #00000069;
}

.modal__show{
  top: 0px;
  display: block;
}