<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>

    <div id="app" class="mydiv"> 

      <div class="container">
          <label class="" for="name">name</label>
          <input class="form-control" v-model="newName" type="text" />
          
          <label for="optimista">optimista</label>
          <input class="form-control" v-model="newOp" type="text" />
          
          <label for="pesimista">pesimista</label>
          <input class="form-control" v-model="newPes" type="text" />
          
          <label for="probable">probable</label>
          <input class="form-control" v-model="newLike" type="text" />
          
          <!--<label for="">predecesor 1</label>
          
          <select v-model="selected_Depends0">
              <option v-for="option in dependencies_Options" v-bind:value="option.value">
                {{ option.text }}
              </option>
            </select>

            <br>
          <label for="">predecesor 2</label>
          
          <select v-model="selected_Depends1">
              <option v-for="option in dependencies_Options" v-bind:value="option.value">
                {{ option.text }}
              </option>
            </select>-->

            <label for="">Predecesores</label>

            <button class="btn btn-success" @click="currentDependencies.push('')">+</button>

            <template v-for="(value, index) in currentDependencies">
              <div>
                  <select v-model="currentDependencies[index]">
                      <option v-for="(option, i) in activityList" :value="option.id">
                        {{ option.name }}
                      </option>
                    </select>
              </div>
              
            </template>

            <br>
          <label for="">Costo por semana</label>
          <input class="form-control"v-model="pWeekCost" type="text" />

          <label for="">Fecha limite en semanas</label>
          <input class="form-control"v-model="projWeek" placeholder="X semanas" type="text" />

          <button class="btn btn-primary" @click="addActivity()">Agregar</button>
          <button class="btn btn-warning" @click="editActivity()">Actualizar</button>
      </div>
      
      
      

      <div class="container">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Optimista</th>
                  <th scope="col">Pesimista</th>
                  <th scope="col">Probable</th>
                  <th scope="col">Dependencias</th>
                  <th scope="col">Costo por semana</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in activityList" :key="item.id">
                  <td>{{item.id}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.optimistic}}</td>
                  <td>{{item.pessimistic}}</td>
                  <td>{{item.mostLikely}}</td>
                  <td>{{item.dependsOn}}</td>
                  <td>{{item.weekCost}}</td>
                  <td>
                    <button class="btn btn-danger">Eliminar</button>
                    <button @click="searchActivity(item.id)" class="btn btn-warning">Actualizar</button>
                  </td>
                </tr>
              </tbody>
            </table>


            <button @click="createPert(), showCriticalPath(), showStats(), createGrantt(), costChart()" class="btn btn-primary">Crear PERT/CPM</button>
            <!-- <button @click="showCriticalPath(), showStats(), createGrantt(), costChart()" class="btn btn-primary">Mostrar Ruta Critica</button> -->
            
            



              

          </div>
      



      <h1>{{expectTime}}</h1>

          <div id="container">
              
  
              
          </div>

          <div id="container2">

          </div>

          <div id="container3">

          </div>

        
    </div>
    
    <script src="anychart-base.min.js"></script>
    <script src="anychart-core.min.js"></script>
    <script src="anychart-pert.min.js"></script>
    <script src="vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>